@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.margins{
  margin-right:-11px ;
 margin-top: -9px
}
.margin-imges{
  margin-top: -100px;
}

.pointer{
  cursor: pointer;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

